<div class="container">
  <div class="jumbotron text-center">

    <p *ngIf="isLoading; else showUI">Chargement en cours...</p>

    <ng-template #showUI>
      <div *ngIf="currentUser">
        <p>Vous êtes identifié en tant que {{ currentUser.name }} ({{ currentUser.email }}).</p>
        <p>
          <button class="btn btn-primary" (click)="gotoAdmin($event)">Accéder à l'admin</button>
          <button class="btn btn-default" (click)="doLogout()">Se déconnecter</button>
        </p>
      </div>
      <div *ngIf="!currentUser">
        <p>Vous n'êtes pas identifié.</p>
        <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
          <label for="loginInput" style="display:flex">Login : </label>
          <input id="loginInput" formControlName="uid" class="form-control">
          <label for="pwdInput" style="display:flex">Mot de passe : </label>
          <input id="pwdInput" type="password" formControlName="password" class="form-control">
          <p><button type="submit" class="btn btn-danger" >S'authentifier</button></p>
        </form>
       </div>
    </ng-template>

  </div>
</div>
